[mysqld]
{% set server_id_match = salt['grains.get']('id') | regex_search('(\d+)-mysql') %}
{% set server_id = server_id_match[0] if server_id_match else 'default_value' %}


bind-address = {{ salt['network.interface_ip']('enp0s8') }}
server-id = {{ server_id }}

gtid_mode = ON
enforce-gtid-consistency=ON
log-bin=mysql-bin
