[mysqld]
{% set server_id_match = salt['grains.get']('id') | regex_search('(\d+)-mysql') %}
{% set server_id = server_id_match[0] if server_id_match else 'default_value' %}

server-id = {{ server_id }}
log-bin=mysql-bin
