#! /bin/bash 
        
# machinectl shell mysql /usr/bin/bash -c 'apt install curl -y'
# machinectl shell mysql /usr/bin/bash -c 'curl -fsSL -o /etc/apt/keyrings/salt-archive-keyring-2023.gpg https://repo.saltproject.io/salt/py3/debian/12/amd64/SALT-PROJECT-GPG-PUBKEY-2023.gpg'
# machinectl shell mysql /usr/bin/bash -c 'echo "deb [signed-by=/etc/apt/keyrings/salt-archive-keyring-2023.gpg arch=amd64] https://repo.saltproject.io/salt/py3/debian/12/amd64/latest bookworm main" | tee /etc/apt/sources.list.d/salt.list'

# machinectl shell mysql /usr/bin/apt-get update
# machinectl shell mysql /usr/bin/bash -c 'apt-get install salt-minion -y'


/usr/bin/bash wget -O bootstrap-salt.sh https://bootstrap.saltproject.io > machinectl shell mysql 
machinectl shell mysql /usr/bin/sh bootstrap-salt.sh git v3004.1