[Unit]
Description=Container Service
After=network.target

[Service]
ExecStart=/usr/bin/systemd-nspawn -M {{ CONTAINER_NAME }} --quiet --keep-unit -D /var/lib/machines/{{ CONTAINER_NAME }} --bind=/proc
# --pipe /bin/bash <<'EOF'
#echo "Now running inside nspawn $(pwd)"
#systemctl enable systemd-networkd
#systemctl enable systemd-resolved
#EOF
#SyslogIdentifier=%N
KillMode=mixed
Type=simple
Restart=always
RestartSec=5
ExecStop=/bin/bash -c 'sudo machinectl terminate {{ CONTAINER_NAME }}'

[Install]
WantedBy=default.target